*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{

	height: 100%;
	background: rgb(225,225,225);
}

body{
	overflow-x: hidden;
}

/*Pagina de login*/


.box-login{
	box-shadow: 10px 10px 5px rgb(200,200,200);
	text-align: center;
	max-width: 600px;
	width: 95%;
	padding: 40px 2%;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%); 
}

.box-login h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	margin: 10px 0;
	font-weight: normal;
	color: black;
}


.box-login input[type=text],
.box-login input[type=password]
{
	box-shadow: 2px 3px 5px rgb(200,200,200);
	width: 82%;
	height: 40;
	border: 1px solid #ccc;
	padding-left: 8px;
	margin-top: 8px;
}

.box-login input[type=submit]{
	box-shadow: 5px 5px 5px rgb(200,200,200);
	width: 100px;
	height: 40px;
	cursor: pointer;
	margin-top: 8px;
	background: #00bfa5;
	color: white;
	border: 0px;
	font-size: 16px;
}


/*Box erro do painel*/

.erro-box{
	width: 100%;
	padding: 8px 2%;
	text-align: center;
	background: #F75353;
	color: white;
	font-size: 15px;
}

/*Fim pagina login*/


/*Painel de controle*/


.clear{clear: both;}

.center{padding: 0 2%;margin: 0 auto;}


header{
	position: relative;
	left: 250px;
	padding: 10px 0;
	background: #00bcd4;
	width: calc(100% - 250px);
}

.loggout{
	float: right;
}


.loggout a{
	padding: 0 20px;
	position: relative;
	top: 4px;
	text-decoration:none;
	color: white;
	font-size: 16px;
	
}
.loggout a > span{
	font-size: 16px;
	text-decoration: none;
}

.menu-btn{
	float: left;
	cursor: pointer;
	font-size: 23px;
	color: white;

}


.menu-wraper{
	width: 250px;
}

.menu::-webkit-scrollbar{
	display: none;
}

div.menu{
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
	height: 100%;
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: 0;
	background: #00838f;
	float: left;
	width: 250px;
}

.items-menu{
	margin-top: 30px;
}

.items-menu h2{
	text-align: left;
	font-weight: normal;
	font-size: 17px;
	background: #006064;
	color: white;
	padding: 8px;
}

.items-menu a{
	display: block;
	padding: 8px;
	font-weight: 300;
	font-size: 13px;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid #2F3D42;
}

div.box-usuario{
	padding: 8px;
	text-align: center;
}

.avatar-usuario{
	text-align: left;
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 3px solid #00bfa5;

}

.imagem-usuario{
	display: inline-block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.imagem-usuario img{
	height: 130px;
	width: 130px;
	border-radius: 50%;
	border: 3px solid #00bfa5;

}

.avatar-usuario i{
	position: relative;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	font-size: 50px;
	color: #00bfa5;

}

.nome-usuario{
	margin-top: 10px;
	text-align: center;
}

.nome-usuario p{
	color: white;
	font-size: 15px;
	font-weight: normal;
}



/*Conteudo principal do painel*/


.w100{
	width: 100%;
}

.w50{
	width: 49%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.content{
	width: calc(100% - 250px);
	position: relative;
	left: 250px;
	padding: 10px;
}


.box-content{
	background: white;
	padding: 10px;
	margin-bottom: 25px;

}

/*Box metricas*/

.box-metricas{
	margin-top:16px;
	padding:0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 33.3%;
	background: #F4B03E;
	border: 5px solid white;
}

.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}

.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.box-metrica-wraper h2{
	font-size: 28px;
}

.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 26px;
}


/*Tabela responsiva*/

.table-responsive{
	max-width: 1280px;
	margin: 20px auto;

}

.table-responsive .row:nth-of-type(1){
	font-weight: bold;
	border-bottom: 1px solid #333;
}

.table-responsive .row{
	color: #777;
	padding: 8px 0;
	text-align: center;
}

.col{
	float: left;
	width: 50%;
}

@media screen and (max-width: 768px){
	.menu{
		display: none;
		width: 0;
		padding: 0;
	}

	.content{
		width: 100%;
		left: 0;
	}

	header{
		left: 0;
		width: 100%;
	}
}


@media screen and (max-width: 400px){

	.menu-wraper{
		width: 200px;
	}
}